.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: end;
    transform: translateY(-15em);
}
.imageContainer{
    display: flex;
    justify-content: start;
    transform: translate(-9em, -23em);
    width: 30%;
    padding: 10px;
}
.imageContainer img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #000);
}
